@font-face {
  font-family: "iconfont"; /* Project id 3462573 */
  src: url('iconfont.woff2?t=1698216711724') format('woff2'),
       url('iconfont.woff?t=1698216711724') format('woff'),
       url('iconfont.ttf?t=1698216711724') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-firefox:before {
  content: "\e648";
}

.icon-adobephotoshop:before {
  content: "\e64d";
}

.icon-hackerrank:before {
  content: "\e696";
}

.icon-calculator:before {
  content: "\e799";
}

.icon-vscode:before {
  content: "\e6b8";
}

.icon-adobeillustrator:before {
  content: "\eb34";
}

.icon-postman:before {
  content: "\ec5d";
}

.icon-qiyeweixin:before {
  content: "\e6af";
}

.icon-userPrinergy:before {
  content: "\e6b0";
}

.icon-Microsoft-Store:before {
  content: "\e882";
}

.icon-hide:before {
  content: "\e7a1";
}

.icon-show:before {
  content: "\e813";
}

.icon-jihuo:before {
  content: "\e61f";
}

.icon-disk:before {
  content: "\e90b";
}

.icon-select:before {
  content: "\e639";
}

.icon-zhongzhi:before {
  content: "\e628";
}

.icon-shouye:before {
  content: "\e647";
}

.icon-dingshi-:before {
  content: "\e61e";
}

.icon-zhongqi:before {
  content: "\e652";
}

.icon-JC_011:before {
  content: "\e636";
}

.icon-Quit:before {
  content: "\e62f";
}

.icon-close:before {
  content: "\e646";
}

.icon-minus:before {
  content: "\e67a";
}

.icon-maximize:before {
  content: "\e76f";
}

